/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Anton", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: linear-gradient(
      45deg,
      rgba(69, 72, 77, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    )
    fixed;
  color: var(--clr-white);
  line-height: 1.5;
  font-size: 0.875rem;
  height: 100vh;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  object-fit: cover;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-white);
}
ul {
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: linear-gradient(
    45deg,
    rgb(83, 30, 97) 10%,
    rgb(102, 37, 119) 28%,
    rgba(219, 13, 44, 1) 69%,
    rgba(219, 13, 44, 0.95) 74%,
    rgba(219, 13, 44, 1) 83%,
    rgba(222, 24, 39, 1) 85%,
    rgba(237, 81, 14, 1) 95%
  );
  color: var(--clr-white);
  padding: 0.475rem 1rem;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-black);
  background: var(--clr-white);
  box-shadow: 0 1px 20px rgba(92, 92, 92, 0.972);
}

/* HEADER */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./pexels-loe-moshkovska-700975.jpg) center/cover;
  height: 100vh;
}
.banner {
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h1 {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  text-align: center;
  background: rgba(20, 20, 20, 0.795);
  padding: 2rem;
}
/* section */
.section {
  padding: 5rem 0;
  background: transparent;
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 1rem;
}
.titulo h1 {
  align-self: center;
  margin: 0;
  margin-right: 1rem;
}
.section-center {
  background: transparent;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  min-height: 50vh;
}
@media screen and (min-width: 576px) {
  .section-center {
    background: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 90vw;
  }

  .banner {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner h1 {
    font-family: var(--ff-secondary);
    font-size: 6rem;
    text-align: center;
    background: rgba(20, 20, 20, 0.795);
    padding: 2rem;
  }
}
/* loading */
.loading {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      45deg,
      rgba(69, 72, 77, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    )
    fixed;
  padding-top: 5rem;
  z-index: 999;
}

.hide-loading {
  display: none;
}

/* search form */
.search-form {
  text-align: center;
  padding-top: 5rem;
  width: 85vw;
  max-width: 600px;
  margin: 0 auto;
  outline: none;
}
.search-form h4 {
  font-family: var(--ff-primary);
}
input {
  font-family: var(--ff-secondary);
  width: 100%;
  font-size: 1rem;
  border-color: transparent;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  text-align: center;
}
input {
  border-radius: var(--radius);
}
input::placeholder {
  /* text-transform: capitalize; */
  color: var(--clr-grey-7);
}

/* cocktails */
.cocktails {
  position: relative;
  background: transparent;
}
.title {
  font-size: 2rem;
  text-align: center;
}

.cocktail {
  background: var(--clr-black);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin-bottom: 3rem;
  position: relative;
}
.pink {
  color: rgb(102, 37, 119);
}
.cocktail:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.01);
}
.cocktail img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  border: none;
  box-shadow: -3.5px 3.5px 0px rgba(237, 81, 14, 0.57),
    -7px 7px 0px rgba(219, 13, 44, 0.7), -10px 10px 0px rgba(112, 40, 130, 0.85);
  transition: var(--transition);
  height: 300px;
  object-fit: cover;
}
.cocktail:hover img {
  filter: grayscale(100%);
  box-shadow: none;
}
.cocktail h3 {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 0.75rem 1.5rem;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: var(--ff-primary);
  font-size: 1rem;
  border: 2px solid black;
  border-radius: var(--radius);
  transition: var(--transition);
}
.cocktail:hover h3 {
  background: linear-gradient(
    45deg,
    rgb(83, 30, 97) 10%,
    rgb(102, 37, 119) 28%,
    rgba(219, 13, 44, 1) 69%,
    rgba(219, 13, 44, 0.95) 74%,
    rgba(219, 13, 44, 1) 83%,
    rgba(222, 24, 39, 1) 85%,
    rgba(237, 81, 14, 1) 95%
  );
}

/* single cocktail */
.single-drink {
  width: 75vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 4rem;
  height: 100vh;
}
.drink-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  border: 10px solid var(--clr-white);
  border-radius: var(--radius);
}
@media screen and (min-width: 992px) {
  .single-drink {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
}
.drink-info {
  padding-top: 2rem;
}
.drink-ingredients,
.q {
  font-family: var(--ff-primary);
}
.drink-ingredients .far {
  margin-right: 1rem;
}

.single-drink .btn {
  display: inline-block;
  margin-top: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer {
  text-align: end;
}
.footer a {
  color: rgb(83, 30, 97);
}
